.thumbnail-container {
  max-height: 100vh;
  min-height: 800px;
  overflow-y: auto;
}

.thumbnail-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.form-check-label {
  vertical-align: middle;
}

.form-control-sm.form-input-check {
  vertical-align: middle !important;
}

.page-container {
  max-height: 100vh;
  min-height: 800px;
  overflow-y: auto;
}

img {
  max-width: 100%;
  max-height: auto;
  margin: 0 auto;
}

div .control-panel {
  background-color : #ffffff;
  box-shadow : 0 0 6px #ffffff;
  padding: 0;
}

div .image-area {
  -moz-border-radius : 5px 5px 5px 5px;
  -moz-box-shadow : 0 0 6px #c8c8c8;
  -webkit-border-radius : 5px 5px 5px 5px;
  -webkit-box-shadow : 0 0 6px #c8c8c8;
  background-color : #ffffff;
  border : 0;
  border-radius : 5px 5px 5px 5px;
  box-shadow : 0 0 6px #c8c8c8;
  display : inline-block;
  padding : 0;
  position: relative;
  margin-bottom: 10px;
}

.draggable-column {
  cursor: ew-resize;
  position: absolute !important;
  width: 2px;
  height: 100%;
  z-index: 200;
  padding: 0;
}

.draggable-column > .column-line {
  position: absolute;
  top: 0;
  height: 100%;
  width: 1px;
  border: none;
  border-left-style: dotted;
  border-left-width: 2px;
  background-color: transparent;
}

/* .add-separator {} */
